<a href="https://colab.research.google.com/github/hainmit09/DataAnalysis/blob/main/B%C3%A0i_4_L%C3%A0m_s%E1%BA%A1ch_d%E1%BB%AF_li%E1%BB%87u.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tiền xử lý dữ liệu 1
- Kiểm tra, xóa bỏ, thay thế dữ liệu khuyết thiếu
- Phát hiện dữ liệu ngoại lai
- Chuẩn hóa dữ liệu

In [3]:
import pandas as pd
import numpy as np

In [18]:
from utils import *

In [71]:
df = pd.read_csv("https://raw.githubusercontent.com/hainmit09/DataAnalysis/main/OnlineRetail_small.csv", encoding="ISO-8859-1")

In [20]:
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...      17850  United Kingdom
1    536365     71053  ...      17850  United Kingdom
2    536365    84406B  ...      17850  United Kingdom
3    536365    84029G  ...      17850  United Kingdom
4    536365    84029E  ...      17850  United Kingdom

[5 rows x 8 columns]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    1499 non-null   object
 1   StockCode    1499 non-null   object
 2   Description  1498 non-null   object
 3   Quantity     1499 non-null   object
 4   InvoiceDate  1499 non-null   object
 5   UnitPrice    1499 non-null   float64
 6   CustomerID   1442 non-null   object
 7   Country      1490 non-null   object
dtypes: float64(1), object(7)
memory usage: 93.8+ KB

In [41]:
get_random_rows(df, size=10)

     InvoiceNo StockCode  ... CustomerID         Country
1380    536539     22807  ...      15165  United Kingdom
1381    536539     22171  ...      15165  United Kingdom
1382    536539     82486  ...      15165  United Kingdom
1383    536539     22173  ...      15165  United Kingdom
1384    536539     85067  ...      15165  United Kingdom
1385    536539     48184  ...      15165  United Kingdom
1386    536539     48138  ...      15165  United Kingdom
1387    536539     48129  ...      15165  United Kingdom
1388    536539     21625  ...      15165  United Kingdom
1389    536539     22326  ...      15165  United Kingdom

[10 rows x 8 columns]

# Tìm ra vị trí lỗi và null.
sử dụng hàm isna

In [42]:
na = df.isna()

In [43]:
type(na)

pandas.core.frame.DataFrame

In [44]:
na.head()

   InvoiceNo  StockCode  Description  ...  UnitPrice  CustomerID  Country
0      False      False        False  ...      False       False    False
1      False      False        False  ...      False       False    False
2      False      False        False  ...      False       False    False
3      False      False        False  ...      False       False    False
4      False      False        False  ...      False       False    False

[5 rows x 8 columns]

In [50]:
type(na.Description)

pandas.core.series.Series

In [51]:
na.Description

0       False
1       False
2       False
3       False
4       False
        ...
1494    False
1495    False
1496    False
1497    False
1498    False
Name: Description, Length: 1499, dtype: bool

In [49]:
na.Description | na.CustomerID | na.Country

0       False
1       False
2       False
3       False
4       False
        ...
1494     True
1495     True
1496     True
1497     True
1498     True
Length: 1499, dtype: bool

In [59]:
pd.set_option('display.max_rows', None)

In [ ]:
df[na.Description | na.CustomerID | na.Country]

# Sử dụng hàm dropna để xóa những dòng bị chứa các cell (ổ dữ liệu) rỗng hoặc null <br>
DataFrame.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)[source]

In [74]:
df.dropna(inplace=True)

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1499 entries, 0 to 1498
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    1499 non-null   object
 1   StockCode    1499 non-null   object
 2   Description  1498 non-null   object
 3   Quantity     1499 non-null   object
 4   InvoiceDate  1499 non-null   object
 5   UnitPrice    1499 non-null   float64
 6   CustomerID   1442 non-null   object
 7   Country      1490 non-null   object
dtypes: float64(1), object(7)
memory usage: 93.8+ KB

In [75]:
df['Quantity'].astype('int64')

0         6
1         6
2         8
3         6
4         6
5         2
6         6
7         6
8         6
9        32
10        6
11        6
12        8
13        6
14        6
15        3
16        2
17        3
18        3
19        4
20        4
21        6
22        3
23        3
24        3
25        3
26       24
27       24
28       12
29       12
30       24
31       48
32       24
33       18
34       24
35       24
36       24
37       24
38       20
39       24
41       12
42       24
43       24
44       36
45        3
46       80
47        6
48        6
49        6
50        6
51        8
52        6
53        6
54        6
55        6
56        6
57        2
58        4
59        6
60        6
61        6
62        6
63        2
64        6
65       32
66        6
67        6
68        8
69        6
70        6
71        6
72        6
73        6
74        2
75        4
76        6
77        6
78        6
79        6
80        2
81        6
82       48
83       64
84        6
85        6
86       10
87       10
88       10
89       10
90       12
91        6
92       12
93       10
94        6
95        6
96      120
97       24
98       24
99       24
100       6
101      48
102      96
103      10
104      10
105      24
106      23
107       5
108      10
109       2
110       6
111      24
112      24
113       1
114       1
115       1
116      10
117       3
118       1
119       2
120       1
121       1
122       4
123       1
124       6
125       3
126       2
127       1
128       1
129       1
130       1
131       2
132       2
133       2
134       4
135       1
136       1
137       2
138       3
139      36
140      10
141      -1
142      12
143       8
144      12
145      10
146      10
147      50
148       8
149       4
150      12
151       2
152       2
153       4
154      -1
155       3
156      48
157      12
158       6
159      12
160      40
161      40
162       6
163       2
164       4
165       3
166       6
167       8
168       1
169      12
170       6
171      10
172      12
173       2
174      10
175      36
176     100
177     100
178     192
179     192
180     192
181     432
182     432
183       3
184       3
185       2
186       3
187       3
188       6
189      12
190      12
191      12
192      12
193      12
194       4
195      12
196      12
197       6
198       8
199      12
200       6
201       4
202       6
203       3
204       2
205       4
206       4
207       2
208       2
209      24
210      24
211       2
212      12
213      12
214      48
215      48
216       8
217     144
218      40
219     288
220      64
221     100
222      50
223      12
224      96
225      96
226      48
227     144
228      40
229      24
230      24
231      24
232      48
233      96
234     100
235     -12
236     -24
237     -24
238     -24
239     -12
240     -12
241     -24
242       6
243       4
244      12
245      12
246       1
247      12
248      12
249       4
250      16
251      24
252       8
253      24
254      96
255      96
256      96
257      96
258      12
259      12
260      48
261      12
262      32
263      20
264       8
265      32
266      24
267      24
268      24
269       8
270       8
271       4
272       8
273       8
274       8
275       8
276      48
277      48
278       6
279       6
280       8
281       6
282       6
283       6
284       6
285       6
286       6
287       2
288       4
289       6
290      12
291       6
292       6
293       2
294       2
295       6
296      12
297      48
298      24
299       6
300       4
301       8
302       6
303       2
304      12
305      12
306      12
307      12
308      12
309       6
310       4
311       8
312       9
313       4
314       9
315       6
316       6
317      12
318       1
319       1
320       2
321       1
322       1
323       1
324       1
325       2
326       1
327       4
328       1
329       1
330       2
331       2
332       2
333       1
334       1
335       1
336       3
337       1
338       1
339       2
340       1
341       1
342       1
343       2
344       4
345       2
346       1
347       1
348       1
349       3
350       1
351       1
352       2
353       3
354       1
355       1
356       2
357       2
358       2
359       1
360       1
361       2
362       9
363       1
364       4
365       3
366       1
367       1
368       1
369       2
370       1
371       1
372       5
373       3
374       3
375       9
376       1
377       4
378       1
379       1
380       2
381       2
382      40
383      40
384      36
385      96
386       1
387      24
388      12
389      12
390      12
391      12
392      12
393      36
394      12
395      12
396      12
397      12
398      12
399      12
400      12
401      12
402      12
403      12
404      12
405      12
406      24
407      24
408      24
409      24
410      24
411      10
412      10
413      10
414      24
415     128
416       8
417       8
418       8
419       6
420       6
421       6
422       6
423       6
424       4
425       4
426       6
427       6
428       6
429       6
430       2
431       2
432       6
433       6
434       6
435      24
436      24
437      12
438      12
439      12
440      12
441      12
442      12
443       4
444       4
445       4
446       6
447      12
448      24
449      12
450      12
451       6
452      12
453       6
454       2
455       2
456      12
457      12
458       8
459       3
460       3
461       8
462      36
463      12
464      25
465       4
466       3
467       3
468       6
469      24
470      12
471       3
472      12
473      30
474      12
475      12
476       6
477      12
478      10
479      36
480      12
481       4
482      12
483       3
484       1
485       1
486       1
487       1
488       1
489       1
490       1
491       1
492       1
493       1
494       1
495       1
496       1
497       1
498       1
499       1
500       1
501       1
502       5
503       1
504       1
505       1
506       6
507       6
508       1
509       3
510       2
511      12
512      28
513      24
514       1
515       1
516       1
517       1
518      12
519       1
520       1
522       1
523       2
524       1
525       2
526       1
527       1
528       1
529       3
530       3
531       6
532       2
533       2
534       1
535       1
536       1
538      12
539       1
540       1
541       3
542       3
543       1
544       4
545       3
546       3
547       1
548       1
549       1
550       1
551       1
552       1
553       1
554       1
555       1
556       1
557       3
558       5
559       1
560      10
561       1
562       1
563       3
564      24
565       2
566       3
567       2
568       1
569       1
570       2
571       2
572       1
573       6
574       1
575       2
576       3
577       7
578       1
579       5
580       5
581      12
582       5
583       1
584       2
585       5
586       2
587       1
588       2
589       1
590       2
591       1
592       2
593       3
594       1
595       1
596       3
597       2
598       1
599       1
600       2
601       2
602       4
603       7
604       2
605       7
606       1
607       1
608       1
609       2
610       5
612       1
613       2
614       1
615       1
616       1
618       1
619       6
620       1
621       1
623      10
624       5
625       3
626       3
627       3
628       5
629       2
630       5
631       3
632       1
633       1
634       5
635       4
636       6
637       3
638       5
639       3
640       4
642       3
643      12
644       5
645       4
646       6
647      12
648       2
649      12
650       1
651       2
652       3
653       3
654       3
655       6
656       2
657       2
658       2
659       2
660       3
661       3
662       3
663       3
664       3
665       2
666       4
667       3
668       3
669       2
670       3
671       3
672       3
673       3
674       3
675       3
676       3
677       3
678       3
679       2
680       2
681      12
682      12
683      72
684      12
685       4
686       4
687       6
688      12
689      12
690      12
691       6
692      12
693       8
694       8
695       4
696       3
697       6
698       6
699       4
700       6
701      12
702       4
703       6
704      12
705       8
706       8
707       8
708       8
709      16
710       8
711       8
712      12
713       8
714      12
715       6
716      12
717      12
718      12
719      12
720       8
721       3
722       4
723       6
724       6
725       2
726       2
727      12
728     200
729      72
730     600
731      48
732      36
733      48
734      32
735       2
736       2
737       6
738      12
739      48
740       1
741       5
742       6
743      24
744      12
745       2
746       2
747       2
748      10
749      10
750       2
751       2
752       8
753       6
754      12
755      24
756       3
757       6
758       6
759      10
760       2
761       4
762       4
763      24
764      16
765      24
766      12
767      12
768      24
769      24
770      12
771       2
772       4
773       2
774      24
775       6
776       8
777       2
778       2
779      24
780      12
781       2
782       2
783       2
784       3
785       1
786       1
787       3
788       1
789       1
790       1
791       8
792       1
793       1
794       1
795       2
796       1
797       1
798       1
799       1
800       1
801       1
802       2
803       6
804       5
805       1
806       1
807       1
808       1
809       1
810       1
811       2
812       2
813       6
814       2
815       4
816       2
817       2
818       1
819       1
820       1
821       2
822       1
823       1
824       1
825       1
826       1
827       1
828       1
829       1
830       2
831       1
832       3
833       2
834       1
835       6
836       1
837       1
838       2
839       3
840       1
841       1
842       1
843       1
844       3
845       5
846       5
847       2
848       1
849       1
850       1
851       1
852       1
853       1
854       1
855       1
856       1
857       1
858       2
859       1
860       1
861       8
862       1
863       1
864       6
865       1
866       6
867      12
868      48
869      24
870     480
871      48
872      16
873      16
874       4
875      96
876     144
877     144
878      12
879      12
880      16
881      10
882       5
883       1
884       8
885       5
886       1
887       1
888       1
889       2
890       1
891       1
892       1
893       1
894       1
895       2
896      12
897       1
898       2
899       1
900       1
901       1
902       1
903       1
904       1
905       1
906       1
907       1
908       1
909       3
910       3
911       1
912       1
913       3
914       1
915       2
916       2
917      10
918      10
919       2
920      12
921      12
922      12
923      12
924       3
925       2
926       2
928       3
929       3
930       6
931       6
932      16
933       3
934      12
935       6
936       2
937      72
938     144
939      -6
940      36
941       4
942       6
943      36
944      36
945       1
946       1
947       1
948       1
949       2
950      16
951       1
952       4
953       3
954       1
955       1
956       1
957       2
958       1
959       1
960      14
961       4
962       4
963       3
964       2
965       1
966       1
967       1
968       2
969       6
970       1
971       5
972       3
973       2
974       1
975       3
976       2
977       2
978       1
979       3
980       1
981       3
982      12
983       3
984      12
985       1
986       2
987       2
988       2
989       3
990       2
991       3
992       2
993       3
994       1
995       1
996       1
997       1
998       1
999       2
1000      1
1001      1
1002      1
1003      1
1004     12
1005      2
1006      2
1007      1
1008      1
1009      2
1010     12
1011      1
1012      1
1013      1
1014      1
1015      1
1016      1
1017      1
1018      1
1019      1
1020      1
1021      1
1022      1
1023      1
1024      2
1025      1
1026      1
1027      2
1028      1
1029      2
1030      1
1031      2
1032      2
1033      1
1034      1
1035      1
1036      1
1037      2
1038      2
1039     12
1040      1
1041      1
1042      1
1043      5
1044      2
1045      1
1046      2
1047      1
1048      1
1049      1
1050      2
1051      1
1052      1
1053      1
1054      3
1055      1
1056      2
1058      1
1059      2
1060      1
1061      1
1062      1
1063      1
1064      1
1065      1
1066      1
1067      1
1068      3
1069      1
1070      1
1071      6
1072      2
1073      6
1074      3
1075      2
1076     12
1077      6
1078     12
1079     24
1080     12
1081      3
1082     24
1083      6
1084      6
1085      6
1086      6
1087      2
1088      1
1089      1
1090      1
1091      2
1092      2
1093      1
1094      1
1095      3
1096      2
1097      1
1098      2
1099     10
1100     16
1101     16
1102      2
1103      6
1104      6
1105     20
1106     10
1107     10
1108      8
1109      6
1110      6
1111     12
1112     12
1113     12
1114     12
1115     24
1116     10
1117     10
1118      4
1119     12
1120     12
1121     12
1122     12
1123      1
1124     12
1125      1
1126      6
1127      1
1128      1
1129      1
1130      3
1131      6
1132      1
1133      2
1134     12
1135      3
1136      1
1137      2
1138      1
1139      1
1140      1
1141      1
1142      4
1143      1
1144      1
1145      2
1146      1
1147      2
1148      3
1149      3
1150      2
1151      1
1152      1
1153      1
1154      2
1155      1
1156      2
1157      1
1158      3
1159      2
1160      2
1161      1
1162      1
1163      5
1165      1
1166      1
1167      2
1168      1
1169      1
1170      2
1171      1
1172      1
1173      4
1174      3
1175      1
1176      1
1177      1
1178      1
1179      1
1180      3
1181      3
1182      2
1183      6
1184      4
1185      6
1186     12
1187      1
1188      2
1189      2
1190      2
1191      1
1192      1
1193      4
1194     24
1195      1
1196      1
1197      1
1198      1
1199      1
1200      1
1201      1
1202      1
1203      1
1204      4
1205      1
1206      1
1207      8
1208      6
1209      1
1210      2
1211      2
1212      6
1213     24
1214     24
1215     24
1216     25
1217     25
1218     12
1219     12
1220     12
1221     25
1222     25
1223     25
1224     12
1225      9
1226      9
1227      9
1228     80
1229     40
1230      2
1231      4
1232      4
1233      4
1234      4
1235      6
1236     50
1237     96
1238      8
1239      8
1240     24
1241     36
1242     24
1243     24
1244     24
1245     24
1246     24
1247     24
1248     24
1249     24
1250     24
1251     24
1252     24
1253     24
1254     24
1255     12
1256     12
1257     12
1258     12
1259     12
1260     12
1261     12
1262      8
1263     48
1264     48
1265     48
1266     12
1267     48
1268     48
1269     48
1270     48
1271     12
1272     12
1273     48
1274     36
1275     24
1276     36
1277     12
1278     12
1279     24
1280     24
1281     24
1282     24
1283     24
1284     24
1285     12
1286     72
1287     24
1288     24
1289     24
1290     24
1291     24
1292     48
1293     72
1294     12
1295     12
1296     12
1297     12
1298     24
1299     24
1300     12
1301     12
1302     24
1303     24
1304      6
1305      2
1306      6
1307     24
1308     12
1309      6
1310     48
1311      2
1312     20
1313      3
1314      1
1315     12
1316     12
1317     12
1318     12
1319      3
1320      3
1321      3
1322      3
1323      3
1324      3
1325     12
1326      2
1327      2
1328      2
1329      8
1330     24
1331      6
1332      3
1333     80
1334     12
1335     36
1336      8
1337     36
1338     12
1339     12
1340      6
1341      2
1342      8
1343      8
1344      8
1345      2
1346      1
1347      1
1348      1
1349      1
1350      1
1351      1
1352      1
1353     12
1354      6
1355      5
1356      5
1357      2
1358      4
1359      2
1360      6
1361      1
1362      5
1363      2
1364      8
1365      2
1366      2
1367      2
1368      3
1369      2
1370     10
1371     10
1372     10
1373     10
1374     10
1375     10
1376     10
1377     12
1378     18
1379      4
1380      6
1381      2
1382      2
1383      8
1384      1
1385      2
1386      2
1387      2
1388      3
1389      6
1390      2
1391      6
1392     12
1393     12
1394      4
1395      3
1396      2
1397      8
1398     12
1399     12
1400      4
1401      4
1402      6
1403      5
1404      4
1405      6
1406      6
1407     50
1408      6
1409      6
1410     12
1411     12
1412     36
1413     24
1414     12
1415      2
1416      2
1417      2
1418      4
1419      4
1420     24
1421     12
1422      6
1423      1
1424     12
1425     10
1426     10
1427     20
1428     30
1429     40
1430     20
1431     20
1432     30
1433     20
1434     20
1435     20
1436     30
1437     40
1438     20
1439     30
1440     32
1441     -1
1442     -2
Name: Quantity, dtype: int64

In [76]:
df['total'] = df['Quantity'].astype('int64') * df['UnitPrice']

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1433 entries, 0 to 1442
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    1433 non-null   object
 1   StockCode    1433 non-null   object
 2   Description  1433 non-null   object
 3   Quantity     1433 non-null   object
 4   InvoiceDate  1433 non-null   object
 5   UnitPrice    1433 non-null   float64
 6   CustomerID   1433 non-null   object
 7   Country      1433 non-null   object
 8   total        1433 non-null   float64
dtypes: float64(2), object(7)
memory usage: 112.0+ KB

In [78]:
df.head()

  InvoiceNo StockCode  ...         Country  total
0    536365    85123A  ...  United Kingdom  15.30
1    536365     71053  ...  United Kingdom  20.34
2    536365    84406B  ...  United Kingdom  22.00
3    536365    84029G  ...  United Kingdom  20.34
4    536365    84029E  ...  United Kingdom  20.34

[5 rows x 9 columns]

In [13]:
df['total'] = df['Quantity'] * df['UnitPrice']

TypeError: ignored