<a href="https://colab.research.google.com/github/hainmit09/DataAnalysis/blob/main/B%C3%A0i_5_Ti%E1%BB%81n_x%E1%BB%AD_l%C3%BD_d%E1%BB%AF_li%E1%BB%87u_(ti%E1%BA%BFp).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tiền xử lý dữ liệu (tiếp)
- Mã hóa dữ liệu
- Rời rác hóa dữ liệu

Import các thư viện

In [3]:
import pandas as pd

# Mã hóa dữ liệu
** Bài tập: Chạy thử các đoạn mã trong slide

# Rời rác hóa dữ liệu
Sử dụng các hàm cut và qcut của pandas

Sử dụng hàm cut

In [1]:
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [2]:
bins = [18, 25, 35, 60, 100]

In [14]:
df = pd.DataFrame()

In [15]:
df['value']=ages

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   value   12 non-null     int64
dtypes: int64(1)
memory usage: 224.0 bytes

In [17]:
df.head()

   value
0     20
1     22
2     25
3     27
4     21

In [5]:
data = pd.cut(ages, bins)

In [22]:
data.codes

array([0, 0, 0, 1, 0, 0, 2, 1, 3, 2, 2, 1], dtype=int8)

In [18]:
df['group']=data

In [20]:
df.head(20)

    value      group
0      20   (18, 25]
1      22   (18, 25]
2      25   (18, 25]
3      27   (25, 35]
4      21   (18, 25]
5      23   (18, 25]
6      37   (35, 60]
7      31   (25, 35]
8      61  (60, 100]
9      45   (35, 60]
10     41   (35, 60]
11     32   (25, 35]

In [6]:
type(data)

pandas.core.arrays.categorical.Categorical

In [7]:
data.categories

IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')

In [11]:
data.categories[0]

Interval(18, 25, closed='right')

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

Dùng hàm cut cho n nhóm
<br/>n=4

In [8]:
pd.cut(ages, 4)

[(19.959, 30.25], (19.959, 30.25], (19.959, 30.25], (19.959, 30.25], (19.959, 30.25], ..., (30.25, 40.5], (50.75, 61.0], (40.5, 50.75], (40.5, 50.75], (30.25, 40.5]]
Length: 12
Categories (4, interval[float64, right]): [(19.959, 30.25] < (30.25, 40.5] < (40.5, 50.75] <
                                           (50.75, 61.0]]

** Bài tập: Viết đoạn đoạn code trả ra các phần tử theo tên phân mục trả ra của hàm cắt

# Dùng hàm qcut
Chia thành các nhóm như cut, nhưng độ bằng nhau thì được tính quantiles

In [10]:
pd.qcut(ages, 4)

[(19.999, 22.75], (19.999, 22.75], (22.75, 29.0], (22.75, 29.0], (19.999, 22.75], ..., (29.0, 38.0], (38.0, 61.0], (38.0, 61.0], (38.0, 61.0], (29.0, 38.0]]
Length: 12
Categories (4, interval[float64, right]): [(19.999, 22.75] < (22.75, 29.0] < (29.0, 38.0] <
                                           (38.0, 61.0]]