<a href="https://colab.research.google.com/github/hainmit09/DataAnalysis/blob/main/B%C3%A0i_2_Pandas_C%C6%A1_b%E1%BA%A3n_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Một số ví dụ về pandas

In [3]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2021/12/31021019/FoodPrice_in_Turkey.csv")

In [6]:
df.head(2)

              Place  ProductId    ProductName  UmId UmName  Month  Year   Price
0  National Average         52  Rice - Retail     5     KG      5  2013  4.4920
1  National Average         52  Rice - Retail     5     KG      6  2013  4.5786

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7381 entries, 0 to 7380
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Place        7381 non-null   object
 1   ProductId    7381 non-null   int64
 2   ProductName  7381 non-null   object
 3   UmId         7381 non-null   int64
 4   UmName       7381 non-null   object
 5   Month        7381 non-null   int64
 6   Year         7381 non-null   int64
 7   Price        7381 non-null   float64
dtypes: float64(1), int64(4), object(3)
memory usage: 461.4+ KB

In [ ]:
df.describe()

         ProductId         UmId        Month         Year        Price
count  7381.000000  7381.000000  7381.000000  7381.000000  7381.000000
mean    254.509687    15.252811     6.479881  2017.458474    15.738709
std     141.008599    25.276665     3.530361     1.499256    22.418284
min      52.000000     5.000000     1.000000  2013.000000     0.253900
25%     114.000000     5.000000     3.000000  2017.000000     3.223600
50%     239.000000     5.000000     6.000000  2018.000000     5.909600
75%     388.000000     5.000000    10.000000  2019.000000    20.441900
max     502.000000   102.000000    12.000000  2019.000000   159.445800

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist(x=df['Price'], bins=200 )
plt.imsave()

# Khái niệm:
DataFrame là kiểu dữ liệu trong Pandas, biểu diễn dữ liệu hai chiều gồm các hàm và các cột. 

DataFrame cung cấp sẵn rất nhiều hàm tiện ích để làm việc với dữ liệu

# Tạo dataframe rỗng

In [ ]:
empty_df = pd.DataFrame()
empty_df.head()

Empty DataFrame
Columns: []
Index: []

# Tạo dữ liệu với list

In [ ]:
ls = ['Kế toán', 'Kinh doanh', 'Tiếp thị']
from_list_df = pd.DataFrame(ls)
from_list_df.head()

            0
0     Kế toán
1  Kinh doanh
2    Tiếp thị

# Tạo data frame từ tuple

In [ ]:
tuples = [("Kế toán", 2000), ("Kinh doan", 2001), ("Tiếp thị", 1999)]
tuples_df = pd.DataFrame(tuples)
tuples_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

In [ ]:
tuples_df.head()

           0     1
0    Kế toán  2000
1  Kinh doan  2001
2   Tiếp thị  1999

# Khái niện:
Series là kiểu dữ liệu một chiều (chú ý data frame 2 chiều), là kiểu dữ liệu quan trọng trong Pandas, tương ứng với các cột trong DataFrame. 

Series cũng cấp sẵn các hàm xử lý tiện ích trong Pandas

# Tạo Series từ dictionary

In [ ]:
dic_1 = {0: 'trẻ trung', 1: 'chính chắn', 2: 'vui vẻ'}
seri = pd.Series(dic_1)

# Import numpy

In [ ]:
import numpy as np

#Tạo mảng các giá trị sử dụng numpy

In [ ]:
arr = np.array([1, 3, 5, 6, 9, 12, -12, 5])
arr_seri = pd.Series(arr)

In [ ]:
arr_seri.head()

0    1
1    3
2    5
3    6
4    9
dtype: int64

In [ ]:
arr_1 = np.array(range(10000))
s_2 = pd.Series(arr_1)
s_2.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [ ]:
s_2.tail()

9995    9995
9996    9996
9997    9997
9998    9998
9999    9999
dtype: int64

In [ ]:
pd.read_json()

In [ ]:
df.to_json("/content/FoodPrice_in_Turkey.json", orient='columns')

In [ ]:
df_2 = pd.read_json("/content/FoodPrice_in_Turkey.json")
df_2.head()

              Place  ProductId    ProductName  UmId UmName  Month  Year   Price
0  National Average         52  Rice - Retail     5     KG      5  2013  4.4920
1  National Average         52  Rice - Retail     5     KG      6  2013  4.5786
2  National Average         52  Rice - Retail     5     KG     11  2013  4.7865
3  National Average         52  Rice - Retail     5     KG     12  2013  5.1337
4  National Average         52  Rice - Retail     5     KG      1  2014  5.5099

# Tính số dòng và số cột dựa trên thuộc tính shape

In [ ]:
df.shape

(7381, 8)

In [ ]:
df.shape[0]

7381

In [ ]:
df.shape[1]

8

In [ ]:
sr = pd.Series(-10, index=range(df.shape[0]))

In [ ]:
sr.head()

0   -10
1   -10
2   -10
3   -10
4   -10
dtype: int64

In [ ]:
sr.size

7381