<a href="https://colab.research.google.com/github/hainmit09/DataAnalysis/blob/main/B%C3%A0i_t%E1%BA%ADp_Ti%E1%BB%81n_x%E1%BB%AD_l%C3%BD_1%2C_b%C3%A0i_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Các cách phát hiện dữ liệu ngoại lai
- 1. Sort Dữ liệu
  + Chỉ phù hợp với dữ liệu không quá lớn.
- 2. Data Visualization
  + Box Plot
  + Scatter
-Statistical Test (z-score)
- InterQuatile Range (Phương pháp IQR)
** Hai phương phương pháp phía sau:
  + Nó chỉ phù hợp với cái dữ liệu mà có phân phối khá tương đồng với phân phối chuẩn.
  + Nhạy cảm với dữ liệu ngoại lại có độ lớn cao (extremely large)

# 0. Import các thư viện cần thiết

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

#1. Đọc dữ liệu vào data frame

In [ ]:
df=pd.read_excel('https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2022/01/08185826/house_price_do%CC%82%CC%81ng-da.xlsx')

/usr/local/lib/python3.7/dist-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

# Xem các thông tin cơ bản

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              1000 non-null   object
 1   address            1000 non-null   object
 2   area               994 non-null    float64
 3   price              944 non-null    float64
 4   postDate           1000 non-null   datetime64[ns]
 5   land_certificate   693 non-null    object
 6   house_direction    44 non-null     object
 7   balcony_direction  24 non-null     object
 8   toilet             551 non-null    float64
 9   bedroom            635 non-null    float64
 10  floor              376 non-null    float64
 11  type_of_land       1000 non-null   object
 12  street_name        808 non-null    object
 13  ward_name          802 non-null    object
 14  district_name      1000 non-null   object
 15  city_name          1000 non-null   object
 16  lat                1000 non-null   float64
 17  long               1000 non-null   float64
dtypes: datetime64[ns](1), float64(7), object(10)
memory usage: 140.8+ KB

In [ ]:
df.describe()

               area         price  ...          lat         long
count    994.000000  9.440000e+02  ...  1000.000000  1000.000000
mean     137.972082  2.202988e+04  ...    21.015726   105.824669
std      742.629174  1.195280e+05  ...     0.006579     0.009462
min        0.000000  4.500000e+00  ...    20.998499   105.795544
25%       40.000000  3.650000e+03  ...    21.011113   105.819943
50%       60.000000  7.000000e+03  ...    21.018030   105.827298
75%      120.000000  1.550000e+04  ...    21.020169   105.829949
max    20000.000000  3.300000e+06  ...    21.036845   105.841429

[8 rows x 7 columns]

# Phát hiện các dòng, cột chứa dữ liệu khuyết thiếu

Lấy ra các dòng

In [ ]:
df.isna()

     title  address   area  price  ...  district_name  city_name    lat   long
0    False    False  False  False  ...          False      False  False  False
1    False    False  False  False  ...          False      False  False  False
2    False    False  False  False  ...          False      False  False  False
3    False    False  False  False  ...          False      False  False  False
4    False    False  False  False  ...          False      False  False  False
..     ...      ...    ...    ...  ...            ...        ...    ...    ...
995  False    False  False  False  ...          False      False  False  False
996  False    False  False  False  ...          False      False  False  False
997  False    False  False  False  ...          False      False  False  False
998  False    False  False  False  ...          False      False  False  False
999  False    False  False  False  ...          False      False  False  False

[1000 rows x 18 columns]

In [ ]:
conditions = df.isna().any(axis=1)

In [ ]:
type(conditions)

pandas.core.series.Series

In [ ]:
df[conditions]

Lấy ra các cột

In [ ]:
df.isna().any(axis=0)

title                False
address              False
area                  True
price                 True
postDate             False
land_certificate      True
house_direction       True
balcony_direction     True
toilet                True
bedroom               True
floor                 True
type_of_land         False
street_name           True
ward_name             True
district_name        False
city_name            False
lat                  False
long                 False
dtype: bool

In [ ]:
ls = df.loc[:, df.isna().any(axis=0)]

In [ ]:
ls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   area               994 non-null    float64
 1   price              944 non-null    float64
 2   land_certificate   693 non-null    object
 3   house_direction    44 non-null     object
 4   balcony_direction  24 non-null     object
 5   toilet             551 non-null    float64
 6   bedroom            635 non-null    float64
 7   floor              376 non-null    float64
 8   street_name        808 non-null    object
 9   ward_name          802 non-null    object
dtypes: float64(5), object(5)
memory usage: 78.2+ KB

# Xóa bỏ hết tất cả những dòng dữ liệu không có thông tin về giá

In [ ]:
condition = ~df['price'].isna()

In [ ]:
type(condition)

pandas.core.series.Series

In [ ]:
condition.head()

0    True
1    True
2    True
3    True
4    True
Name: price, dtype: bool

In [ ]:
df = df[condition]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 944 entries, 0 to 999
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              944 non-null    object
 1   address            944 non-null    object
 2   area               942 non-null    float64
 3   price              944 non-null    float64
 4   postDate           944 non-null    datetime64[ns]
 5   land_certificate   683 non-null    object
 6   house_direction    43 non-null     object
 7   balcony_direction  24 non-null     object
 8   toilet             548 non-null    float64
 9   bedroom            631 non-null    float64
 10  floor              367 non-null    float64
 11  type_of_land       944 non-null    object
 12  street_name        791 non-null    object
 13  ward_name          788 non-null    object
 14  district_name      944 non-null    object
 15  city_name          944 non-null    object
 16  lat                944 non-null    float64
 17  long               944 non-null    float64
dtypes: datetime64[ns](1), float64(7), object(10)
memory usage: 140.1+ KB

# Lọc nhà trong ngõ

In [ ]:
df.head()

In [ ]:
search = "ngõ"
df_alley = df[(df.title.str.lower().str.contains(search)) | (df.address.str.lower().str.contains(search))]

In [ ]:
type(df.title.str.lower())

pandas.core.series.Series

In [ ]:
df_alley.head()

In [ ]:
df_alley.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 209 entries, 3 to 994
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              209 non-null    object
 1   address            209 non-null    object
 2   area               209 non-null    float64
 3   price              209 non-null    float64
 4   postDate           209 non-null    datetime64[ns]
 5   land_certificate   150 non-null    object
 6   house_direction    22 non-null     object
 7   balcony_direction  14 non-null     object
 8   toilet             114 non-null    float64
 9   bedroom            140 non-null    float64
 10  floor              78 non-null     float64
 11  type_of_land       209 non-null    object
 12  street_name        158 non-null    object
 13  ward_name          168 non-null    object
 14  district_name      209 non-null    object
 15  city_name          209 non-null    object
 16  lat                209 non-null    float64
 17  long               209 non-null    float64
dtypes: datetime64[ns](1), float64(7), object(10)
memory usage: 31.0+ KB

# Tính toán giá/m2  ( đơn vị triệu/m2) với loại hình nhà ngõ

In [ ]:
df_alley['price_per_sm'] = df_alley.price/df_alley.area

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df_alley.head()

                                                title  ... price_per_sm
3   Bán nhà 6 tầng mới kinh doanh mặt ngõ 1194 Đườ...  ...   177.419355
7   Bán nhà phường Thổ Quan ngõ thoáng 26m2 x 4 tầ...  ...   111.538462
12  Bán đất tặng nhà gần ngõ 34 Hoàng Cầu - 29 Lán...  ...   103.000000
16  Chính chủ bán Căn nhà Tâp Thể Đường Sắt ngõ 29...  ...    24.000000
17  Siêu hot! Bán nhà tập thể ngõ 62 Nguyên Chí Th...  ...    28.571429

[5 rows x 19 columns]

# Các câu hỏi phía sau
- Phát hiện giá trị ngoại lai của các thuộc tính: diện tích, giá/m2 bằng phương pháp IQR
- Thực hiện loại bỏ các dòng dữ liệu ngoại lai
- Chuẩn hóa dữ liệu của tất cả các thuộc tính: price/m2 bằng các phương pháp: min-max scaling, z- score scaling, Robust scaling, và so sánh phân bố của thuộc tính này trước và sau khi chuẩn hóa

** Chú ý: Nghĩa là làm cho tập dữ liệu ngõ (df_alley)

# Bài tập:
- Tính giá/m2 cho toàn tập dữ liệu
- Xử lý dữ liệu ngoại lại cho toàn tập dữ liệu
- Chuẩn hóa dữ liệu ngoại lai cho toàn tập dữ liệu