<a href="https://colab.research.google.com/github/hainmit09/DataAnalysis/blob/main/B%C3%A0i_1%20-%20T%E1%BB%95ng%20quan%20v%E1%BB%81%20ph%C3%A2n%20t%C3%ADch%20d%E1%BB%AF%20li%E1%BB%87u.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import thư viện Pandas để sử dụng.
### Chú ý: Các thư viện python thường dùng từ khóa as để viết tắt code cho tiện

In [2]:
import pandas as pd

# Đọc file csv và in ra 5 dòng đầu tiên
### hàm head có tham số n ngầm định là 5, nếu muốn in ra số dòng khác thì truyền vào giá trị n, ví dụ n=7 thì in ra 7 dòng

In [25]:
df = pd.read_csv("/content/OnlineRetail_small_fixed.csv")
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

# Thêm cột total để tính thành tiền
### trong file csv chỉ có các cột cơ sở, chưa có cột thành tiền.
### thêm cột thành tiền (là cột dẫn xuất) để tính giá trị thành tiền

In [30]:
df['total'] = df['Quantity'] * df['UnitPrice']

# Tính tổng giá trị các đơn hàng

In [ ]:
total_invoices = df['total'].sum()

## In ra kết quả

In [36]:
print ("số lượng hóa đơn bán ra: "+ str (df['total'].size))
print ("Tổng doanh thu: " + str(total_invoices.sum()))

số lượng hóa đơn bán ra: 1499
Tổng doanh thu: 32669.54

# Top 10 mặt hàng có số lượng bán ra lớn rất
- 1 mặt hàng được mô tả bởi mã, mô tả
- Tỉnh tổng số lượng của từng mặt hàng
- Sắp xếp tổng số lượng bán ra theo chiều giảm dần
- Lấy 10 mặt hàng trên cùng

In [ ]:
quantity_product = df.groupby(['StockCode', 'Description'])['Quantity'].sum().sort_values(ascending= False)
quantity_product.head(10)

# Top 10 mặt hàng có doanh thu lớn nhất
- 1 mặt hàng được mô tả bởi mã, mô tả
- Tỉnh tổng tiền của từng mặt hàng
- Sắp xếp số tổng số lượng bán ra theo chiều giảm dần
- Lấy 10 mặt hàng trên cùng

In [ ]:
quantity_product = df.groupby(['StockCode', 			'Description'])['total'].sum().sort_values(ascending= False)
quantity_product.head(10)