<a href="https://colab.research.google.com/github/hainmit09/DataAnalysis/blob/main/Ki%E1%BA%BFn_th%E1%BB%A9c_b%E1%BB%95_tr%E1%BB%A3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tổng hợp kiến thức bổ trợ
- callable
- lamda
- làm việc với list
- tham số true, false
- regex
- trao đổi, thảo luận.
- import một hàm utility để dùng lại

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2021/12/31020936/GDPlist.csv", encoding="ISO-8859-1")

In [4]:
df.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

# Mảng true, false
- Định nghĩa: là mảng giúp lọc theo điều kiến true là lấy, false là không lấy

In [6]:
df_2 = df.loc[1:5, ['Country', 'Continent']]

In [7]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 1 to 5
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    5 non-null      object
 1   Continent  5 non-null      object
dtypes: object(2)
memory usage: 212.0+ bytes

In [8]:
df_2.head()

      Country      Continent
1     Albania         Europe
2     Algeria         Africa
3      Angola         Africa
4   Argentina  South America
5   Australia        Oceania

In [9]:
df_3 = df.loc[1:5, [True, True, False]]

In [10]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 1 to 5
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    5 non-null      object
 1   Continent  5 non-null      object
dtypes: object(2)
memory usage: 212.0+ bytes

In [11]:
df_3.head(10)

      Country      Continent
1     Albania         Europe
2     Algeria         Africa
3      Angola         Africa
4   Argentina  South America
5   Australia        Oceania

In [12]:
df[df.index%2==0]

                   Country      Continent  GDP (millions of US$)
0              Afghanistan           Asia                  18181
2                  Algeria         Africa                 190709
4                Argentina  South America                 447644
6                  Austria         Europe                 419243
8                  Bahrain           Asia                  26108
..                     ...            ...                    ...
116   United Arab Emirates           Asia                 360136
118          United States  North America               15094025
120             Uzbekistan           Asia                  45353
122                Vietnam           Asia                 122722
124                 Zambia         Africa                  19206

[63 rows x 3 columns]

In [13]:
s_idx = df.index%2==0

In [14]:
type(s_idx)

numpy.ndarray

In [15]:
s_idx

array([ True, False,  True, False,  True, False,  True, False,  True,
       False,  True, False,  True, False,  True, False,  True, False,
        True, False,  True, False,  True, False,  True, False,  True,
       False,  True, False,  True, False,  True, False,  True, False,
        True, False,  True, False,  True, False,  True, False,  True,
       False,  True, False,  True, False,  True, False,  True, False,
        True, False,  True, False,  True, False,  True, False,  True,
       False,  True, False,  True, False,  True, False,  True, False,
        True, False,  True, False,  True, False,  True, False,  True,
       False,  True, False,  True, False,  True, False,  True, False,
        True, False,  True, False,  True, False,  True, False,  True,
       False,  True, False,  True, False,  True, False,  True, False,
        True, False,  True, False,  True, False,  True, False,  True,
       False,  True, False,  True, False,  True, False,  True])

** Kết luận: df.index%2==0 tương đương với dánh sách [True, False, True, False,...]

# Callable:
- Định nghĩa là hàm tham số đầu vào là dataframe, kết quả trả ra là có thể  chỉ số dùng để lọc,...
- Đối với với demo bài này, hàm loc có tham số đầu vào là DataFrame, nên cần một hàm dùng data frame làm tham số đầu vào

In [17]:
def lay_chi_so_chan(pdf):
  return pdf.index%2==0

Bài tập: Lấy trong khoản từ 0-20, các chỉ số chẵn thôi, sử dụng call

Truyền callable cho hàm loc của DataFrame

In [18]:
df_4  = df.loc[lay_chi_so_chan, [True, True, False]]

In [19]:
df_4.head()

        Country      Continent
0   Afghanistan           Asia
2       Algeria         Africa
4     Argentina  South America
6       Austria         Europe
8       Bahrain           Asia

Callable trả ra list

In [25]:
def list_index_callable(pdf):
  return [1,2,4]

In [26]:
df.loc[list_index_callable, [True, True, False]]

      Country      Continent
1     Albania         Europe
2     Algeria         Africa
4   Argentina  South America

# Lamda
- Là hàm ẩn danh
- Cú pháp lamda x1, x2,...: tính toán và kết quả trả ra

In [28]:
df.loc[lambda x: x.index%2==0, [True, True, False]]

                   Country      Continent
0              Afghanistan           Asia
2                  Algeria         Africa
4                Argentina  South America
6                  Austria         Europe
8                  Bahrain           Asia
..                     ...            ...
116   United Arab Emirates           Asia
118          United States  North America
120             Uzbekistan           Asia
122                Vietnam           Asia
124                 Zambia         Africa

[63 rows x 2 columns]

In [29]:
df.loc[lambda x: [1,2,4], [True, True, False]]

      Country      Continent
1     Albania         Europe
2     Algeria         Africa
4   Argentina  South America

# Làm việc với danh sách trong python
- tiện ích for trong danh sách
- tạo nhanh danh sách sử dụng numpy
-...

In [31]:
ls = []
for i in range(10):
  ls.append(i*i)
ls

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Viết ngắn

In [32]:
ls = [i*i for i in range(10)]
ls

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
ls[0:5]

[0, 1, 4, 9, 16]

# Thư viên numpy

In [34]:
import numpy as np

- Dùng python để tạo mảng số ngẫu nhiên 1 chiều

In [36]:
import random
ls = [ random.randint(0, 100) for i in range(10)]
ls

[35, 12, 35, 20, 36, 84, 72, 11, 81, 93]

- Dùng numpy tạo mảng nguyên ngẫu nhiên 10 phần tử

In [44]:
ls_numpy = np.random.randint(0, 100, size=(10))

In [45]:
ls_numpy

array([11, 16, 32, 76, 59, 80, 48,  7,  8, 47])

In [47]:
ser = pd.Series(ls_numpy)
ser

0    11
1    16
2    32
3    76
4    59
5    80
6    48
7     7
8     8
9    47
dtype: int64

# Regex
Là công cụ để tiềm kiếm chuỗi con (substring) trong chuỗi lớn (string). Cú pháp rất linh động

In [48]:
df.head()

        Country      Continent  GDP (millions of US$)
0   Afghanistan           Asia                  18181
1       Albania         Europe                  12847
2       Algeria         Africa                 190709
3        Angola         Africa                 100948
4     Argentina  South America                 447644

In [49]:
reg = 'ria$'

In [50]:
df[df.Country.str.contains(reg)]

      Country Continent  GDP (millions of US$)
2     Algeria    Africa                 190709
6     Austria    Europe                 419243
17   Bulgaria    Europe                  53514
80    Nigeria    Africa                 238920

In [66]:
reg = 'A.*ria$'
df[df.Country.str.contains(reg)]

    Country Continent  GDP (millions of US$)
2   Algeria    Africa                 190709
6   Austria    Europe                 419243