<a href="https://colab.research.google.com/github/hainmit09/DataAnalysis/blob/main/Pandas_1_Ch%E1%BB%AFa_b%C3%A0i_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/icyrockcom/country-capitals/master/data/country-list.csv")

In [3]:
df.head()

                 country              capital            type
0               Abkhazia              Sukhumi  countryCapital
1            Afghanistan                Kabul  countryCapital
2  Akrotiri and Dhekelia  Episkopi Cantonment  countryCapital
3                Albania               Tirana  countryCapital
4                Algeria              Algiers  countryCapital

In [4]:
countries = df['country']
countries.head()

0                 Abkhazia
1              Afghanistan
2    Akrotiri and Dhekelia
3                  Albania
4                  Algeria
Name: country, dtype: object

In [12]:
df_2 = pd.read_csv("https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2021/12/31020936/GDPlist.csv", encoding="ISO-8859-1")

In [22]:
df_2.head()
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [15]:
gdp_countries = df_2['Country']

In [16]:
gdp_countries.head()

0     Afghanistan
1         Albania
2         Algeria
3          Angola
4       Argentina
Name: Country, dtype: object

# Cách 1: dùng iloc

In [17]:
len(gdp_countries)

125

In [26]:
for i in range(len(gdp_countries)):
  for j in range(len(countries)):
    if str(countries[j]).lower().strip() == str(gdp_countries[i]).lower().strip():
      print(countries[j])

Afghanistan
Albania
Algeria
Angola
Argentina
Australia
Austria
Azerbaijan
Bahrain
Bangladesh
Belarus
Belgium
Bolivia
Bolivia
Bosnia and Herzegovina
Botswana
Brazil
Brunei
Bulgaria
Cambodia
Cameroon
Canada
Chile
China
Colombia
Costa Rica
Côte d'Ivoire
Croatia
Cyprus
Czech Republic
Denmark
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Estonia
Ethiopia
Finland
France
Gabon
Georgia
Germany
Ghana
Greece
Guatemala
Honduras
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kuwait
Latvia
Lebanon
Libya
Lithuania
Luxembourg
Malaysia
Mali
Mauritius
Mexico
Morocco
Mozambique
Namibia
Nepal
Netherlands
New Zealand
Nigeria
Norway
Oman
Pakistan
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Qatar
Romania
Russia
Saudi Arabia
Senegal
Serbia
Singapore
Slovakia
Slovenia
South Africa
South Korea
Spain
Sri Lanka
Sweden
Switzerland
Tanzania
Thailand
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Uganda
Ukraine
United Arab Emirates
United States
Uruguay
Uzbekistan
Venezuela
Vietnam
Yemen
Zambia